$common-bgc-dark: #fff;
$common-bgc-grey: #fff;
$common-bgc-light: #fff;
$common-bgc-primary: #fff;
$page-width: 1200px;
$color: #66718C;
$font-hover-color: #3aabaf; //#549df7
$font-color-light: #0b0101;
$font-color-dark: grey;
$font-size-small: 12px;
$shadow-color: black;

//顶部菜单栏
$top-menu-height: 60px;